/******************************************************************
Stylesheet: Forms
******************************************************************/


form{
	
	label{
		display: block;
		@include rem(margin-bottom, 0.5rem);
	}
	
	input,
	textarea{
		@include rem(border, 1px solid darken($light-grey, 5%));
		@include rem(padding, 0.8rem);
		@include border-radius(3px);
		@include font-body;
		@include font-size(10);
	}
	
	#submit,
	#searchsubmit{
		@include rem(border, 1px solid $light-grey);
		@include rem(padding, 0.8rem 1.5rem);
		@include transition(all 0.2s ease-in-out);
		@include font-body;
		@include font-size(10);
		@include border-radius(3px);
		background: $light-grey;
		color: $grey;
		
		&:hover{
			background: darken($light-grey, 5%);
		}
	}
}