/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/

html{
	
}

body {
	@include font-body;
	color: $grey;
	-webkit-font-smoothing: antialiased;
}


/*********************
LAYOUT & GRID STYLES
*********************/

p{
	line-height: 1.5;
}



/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@include font-header;
	text-rendering: optimizelegibility;	
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	@include font-size(25);
}

h2, .h2 {	
	@include font-size(21);
}

h3, .h3 {
	@include font-size(18);
}

h4, .h4 {
	@include font-size(16);
}

h5, .h5 {
	@include font-size(13);
}


/*********************
HEADER STYLES
*********************/

.header {
	
}


/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/

.footer {
	
}

	